
@{
    ViewBag.Title = "Corporaciones";
}

<div class="row">
    <div class="col padding-Div seccion-destado">
        <div class="container">
            <div class="row">
                <div class="col-md-12 padding-cero">
                    <h1>
                        Financiamiento de nuestras Corporaciones
                    </h1>
                    <p>
                        Una parte del rol público encomendado al municipio en la comuna está delegado en Corporaciones, específicamente en temas de Salud, Educación, Cultura y Deportes.
                        En estas visualizaciones podrás conocer los montos de los aportes que reciben del municipio, y el porcentaje que representan del presupuesto total del mismo.
                    </p>
                </div>
            </div>

            

        </div>
    </div>
</div>
