
@{
    ViewBag.Title = "Proveedores";
}

<div class="row seccion-destado">
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Proveedores
                        <small>
                            del
                            <span class="select">
                                <select>
                                    <option>Municipio Total</option>
                                    <option>Adm. y Serv. Municipal</option>
                                    <option>Salud</option>
                                    <option>Educación</option>
                                    <option>Cementerio</option>
                                </select>
                            </span>
                        </small>

                        <small>
                            del año:
                            <span class="select">
                                <select>
                                    <option>2017 a Junio</option>
                                    <option>2016</option>
                                    <option>2015</option>
                                    <option>2014</option>
                                    <option>2013</option>
                                </select>
                            </span>
                        </small>
                    </h1>
                    <p>Las compras del municipio representan un 10% del total de gasto realizado a julio de 2017, los montos constituyen los compromisos anuales adquiridos por el municipio con cada proveedor.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Top 20 proveedores con mayores compras</h2>
                    <div id="chart"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Buscar Proveedores</h2>
                    <p>Si el proveedor que buscas no está entre los 20 principales, usa el buscador que aparece a continuación:<br><br><br></p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/select.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
    <script src="~/Scripts/FeaturedData/WordCloud.js"></script>
    <script>
        $(document).ready(function () {
            $("select").resizeselect()
        });
    </script>

    <script>
    var url = "@Url.Action("Providers", "FeaturedData")" + "?year=2017&origenData=5";
        $.ajax({
            type: 'POST',
            url: url,
            dataType: 'json',
            success: function (result) {
                console.log(result);
                drawWordCloud(result.monto,result.proveedor);
            }
        });
    function drawWordCloud(monto,proveedor) {

        var array_montos = monto;
        var array_texto = proveedor;
        console.log(array_montos);
        var word_count = {};
        for (i = 0; i < array_montos.length; i++) {
            word_count[array_texto[i]] = Math.round(array_montos[i]/1);
        }

        console.log(word_count);
        var svg_location = "#chart";
        var width = $(document).width();
        var height = $(document).height();

        var fill = d3.scale.category20();
        var word_entries = d3.entries(word_count);

        var xScale = d3.scale.linear()
            .domain([0, d3.max(word_entries, function (d) {
                return d.value;
            })
            ])
            .range([10, 100]);
        d3.layout.cloud().size([width, height])
            .timeInterval(20)
            .words(word_entries)
            .fontSize(function (d) { return xScale(+d.value); })
            .text(function (d) { return d.key; })
            .rotate(function () { return 0; })
            .font("Impact")
            .on("end", draw)
            .start();

        function draw(words) {
            d3.select(svg_location).append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + [width >> 1, height >> 1] + ")")
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", function (d) { return xScale(d.value) + "px"; })
                .style("font-family", "Impact")
                //.style("fill", function (d, i) { return fill(i); })
                .style("fill", function (d, i) { return "#1f77b4"; })
                //.style("background-color","#1f77b4")
                .attr("text-anchor", "middle")
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + 0 + ")";
                })
                .text(function (d) { return  d.key; });
        }

        d3.layout.cloud().stop();
    }
    </script>


}