
@{
    ViewBag.Title = "Subsidios";
}

<div class="row seccion-destado">
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Subsidios
                        <small>
                            del
                            <span class="muntotal">Municipio Total</span>
                        </small>

                        <small>
                            del año:
                            <span class="select ">
                                @Html.DropDownList("name", (SelectList)ViewBag.Anos, null, new { @class = "muntotal", @id= "ano" })
                                @*<select id="ano">
                                    <option value="2017">2017 a Junio</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                </select>*@
                            </span>
                        </small>
                    </h1>
                    <p>Las compras del municipio representan un 10% del total de gasto realizado a julio de 2017, los montos constituyen los compromisos anuales adquiridos por el municipio con cada proveedor.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Top 20 proveedores con mayores compras</h2>
                </div>
                <div class="col-md-12">
                    <div class="row" id="container">
                        <div class="col-md-8" id="chart"></div>
                        <div class="col-md-4" id="lateralPanel"></div>
                    </div>
                </div>
            </div>
            <div id="tooltip" class="hidden">
                <p><span class="tooltipTitle">Clasificacion: </span><span id="clasificacion"></span></p>
                <p><span class="tooltipTitle">Monto: </span><span id="monto"></span></p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Buscar Proveedores</h2>
                    <p>Si el proveedor que buscas no está entre los 20 principales, usa el buscador que aparece a continuación:<br><br><br></p>

                    <div>
                        <div class="muntotal input-group">
                            <input id="buscaSubsidio" type="text" class="" placeholder="Busca un beneficiado">
                            <div>
                                <button class="btn" type="button">buscar</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="row celda">
                                </div>
                                <div class="row muntotal celda">
                                    <div class="col-9"><h6><b>Beneficiario</b></h6></div>
                                    <div class="col-3"><h6><b>Monto Millones $</b></h6></div>
                                </div>
                                <div id="listapapa"></div>
                                @*<div class="row celda destacadocolor" id="item-401">
                                        <div class="col-9" onclick="verDetalle(401)">Compañia De Seguros Generales Pentasecurity S.A.</div>
                                        <div class="col-3">$650.000.000</div>
                                    </div>
                                    <div class="row celda">
                                        <div class="col-9">Compañia De Seguros Generales Pentasecurity S.A.</div>
                                        <div class="col-3">$650.000.000</div>
                                    </div>*@
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/select.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="~/Scripts/FeaturedData/SubsidyBubbleChart.js"></script>
    <script>
        var idANO = "VALORDELANOTOMADODELGRAFICO";
        

        function llenarCirculos() {
            $.ajax({
                cache: false,
                async: false,
                type: 'POST',
                data: {
                    year: $("#ano").val()
                },
                url: '@Url.Action("SubsidyAjaxNivel1", "FeaturedData")',
                dataType: 'json',
                success: function (result) {
                    drawChart(result);
                }
            });
        }//SI NO ES ESO, es porque la url al tener recoleta caga

        function llenarTabla() {
            //$("#listapapa").remove();
            $.ajax({
                cache: false,
                async: false,
                type: 'POST',
                data: {
                    year: $("#ano").val()
                },
                url: '@Url.Action("SubsidyChartNivel2", "FeaturedData")',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (index, item) {
                        $("#listapapa").append(nuevoPapa(item));
                    });
                }
            });
        };

        function verDetalle(aux) {
            $("#item-" + aux).addClass("destacadocolor");
            $(".hijotabla").remove();
            $.ajax({
                cache: false,
                async: false,
                type: 'POST',
                data: {
                    IdNivel2: aux
                },
                url: '@Url.Action("SubsidyChartNivel3", "FeaturedData")',
                dataType: 'json',
                success: function (data) {
                    $("#item-" + aux).append(nuevoHijoHeader(aux));
                    $.each(data, function (index, item) {
                        $("#table-" + aux).append(nuevoHijo(item));
                    });
                }
            });
        };

        function nuevoPapa(item) {
            return '\
                    <div class="row celda" id="item-'+ item.IdNivel2 +'">\
                        <div class="col-9" onclick="verDetalle('+ item.IdNivel2 + ')">' + item.Nombre + '<small>(' + item.Categoria+')</small></div>\
                        <div class="col-3">$'+ item.Monto.toLocaleString() +'</div>\
                    </div>\
                ';

        }
        function nuevoHijoHeader(aux) {
            return '\
                    <div class="col-12 hijotabla">\
                        <div class="row">\
                            <table class="table">\
                                <thead>\
                                    <tr>\
                                        <th>Fecha Decreto</th>\
                                        <th>Beneficiario</th>\
                                        <th>Monto</th>\
                                    </tr>\
                                </thead>\
                                <tbody id="table-'+aux+'">\
                                </tbody>\
                            </table>\
                        </div>\
                    </div>\
                    ';
        }
        function nuevoHijo(item) {
            return '\
                    <tr>\
                        <td> 19/04/2016 </td>\
                        <td> '+ item.Nombre +' </td>\
                        <td> $'+ item.Monto.toLocaleString() +' </td>\
                    </tr>\
                    ';
        }


        $(document).ready(function () {
            $("select").resizeselect();
            llenarCirculos();
            llenarTabla();
        });
    </script>
}