
@{
    ViewBag.Title = "Subsidios";
}

<div class="row">
    <div class="col padding-Div seccion-destado">
        <div class="container">
            <div class="row">
                <div class="col-md-12 padding-cero">
                    <h1>
                        Subsidios
                        <small>
                            del
                            <span>
                                <span class="dropdown">
                                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="texto muntotal">
                                            Municipio Total
                                        </span>
                                        <span class="md-36 amarillo octicon octicon-chevron-down"></span>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Municipio Total</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Adm. y Serv. Municipal</a>
                                        <a class="dropdown-item" href="#">Salud</a>
                                        <a class="dropdown-item" href="#">Educación</a>
                                        <a class="dropdown-item" href="#">Cementerio</a>
                                    </div>
                                </span>
                            </span>
                            del año:
                            <span>
                                <span class="dropdown">
                                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="texto muntotal">
                                            2017 a Junio
                                        </span>
                                        <span class="md-36 amarillo octicon octicon-chevron-down"></span>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">2017 a Junio</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">2016</a>
                                        <a class="dropdown-item" href="#">2015</a>
                                        <a class="dropdown-item" href="#">2014</a>
                                        <a class="dropdown-item" href="#">2013</a>
                                    </div>
                                </span>
                            </span>
                        </small>
                    </h1>
                    <p>Las compras del municipio representan un 10% del total de gasto realizado a julio de 2017, los montos constituyen los compromisos anuales adquiridos por el municipio con cada proveedor.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 padding-cero">
                    <h2>Top 20 proveedores con mayores compras</h2>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 padding-cero">
                    <h2>Buscar Proveedores</h2>
                    <p>Si el proveedor que buscas no está entre los 20 principales, usa el buscador que aparece a continuación:<br><br><br></p>
                </div>
            </div>
        </div>
    </div>
</div>

