
@{
    ViewBag.Title = "Subsidios";
}

<div class="row seccion-destado">
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Subsidios
                        <small>
                            del
                            <span class="select">
                                <select>
                                    <option>Municipio Total</option>
                                    <option>Adm. y Serv. Municipal</option>
                                    <option>Salud</option>
                                    <option>Educación</option>
                                    <option>Cementerio</option>
                                </select>
                            </span>
                        </small>

                        <small>
                            del año:
                            <span class="select">
                                <select>
                                    <option>2017 a Junio</option>
                                    <option>2016</option>
                                    <option>2015</option>
                                    <option>2014</option>
                                    <option>2013</option>
                                </select>
                            </span>
                        </small>
                    </h1>
                    <p>Las compras del municipio representan un 10% del total de gasto realizado a julio de 2017, los montos constituyen los compromisos anuales adquiridos por el municipio con cada proveedor.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Top 20 proveedores con mayores compras</h2>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Buscar Proveedores</h2>
                    <p>Si el proveedor que buscas no está entre los 20 principales, usa el buscador que aparece a continuación:<br><br><br></p>

                    <div>
                        <div class="muntotal input-group mb-3">
                            <input type="text" class="form-control" placeholder="Busca un beneficiado">
                            <div>
                                <button class="btn" type="button">buscar</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="row celda">

                                </div>
                                <div class="row muntotal celda">
                                    <div class="col-9"><h6><b>Beneficiario</b></h6></div>
                                    <div class="col-3"><h6><b>Monto Millones $</b></h6></div>
                                </div>
                                <div class="row celda destacadocolor" id="item-1">
                                    <div class="col-9" onclick="verDetalle(1)">Compañia De Seguros Generales Pentasecurity S.A.</div>
                                    <div class="col-3">$650.000.000</div>
                                    <div class="col-12 hijotabla">
                                        <div class="row">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Fecha Decreto</th>
                                                        <th>Beneficiario</th>
                                                        <th>Monto</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>19/04/1990</td>
                                                        <td>Apoyo de Seguridad a la Comuna</td>
                                                        <td>$358 </td>
                                                    </tr>
                                                    <tr>
                                                        <td>19/04/2016</td>
                                                        <td>Aporte para mejoramiento de infraestructura del Jardín Infantil "Pequitas".</td>
                                                        <td>$358 </td>
                                                    </tr>
                                                    <tr>
                                                        <td>19/04/2001</td>
                                                        <td>Apoyo de Seguridad a la Comuna</td>
                                                        <td>$358 </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row celda">
                                    <div class="col-9">Compañia De Seguros Generales Pentasecurity S.A.</div>
                                    <div class="col-3">$650.000.000</div>
                                </div>
                                <div class="row celda">
                                    <div class="col-9">Compañia De Seguros Generales Pentasecurity S.A.</div>
                                    <div class="col-3">$650.000.000</div>
                                </div>
                                <div class="row celda">
                                    <div class="col-9">Compañia De Seguros Generales Pentasecurity S.A.</div>
                                    <div class="col-3">$650.000.000</div>
                                </div>
                                <div class="row celda">
                                    <div class="col-9">Compañia De Seguros Generales Pentasecurity S.A.</div>
                                    <div class="col-3">$650.000.000</div>
                                </div>
                                <div class="row celda">
                                    <div class="col-9">Compañia De Seguros Generales Pentasecurity S.A.</div>
                                    <div class="col-3">$650.000.000</div>
                                </div>
                                <div class="row celda">
                                    <div class="col-9">Compañia De Seguros Generales Pentasecurity S.A.</div>
                                    <div class="col-3">$650.000.000</div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/select.js"></script>
    <script>
        $(document).ready(function () {
            $("select").resizeselect()
        });

        function verDetalle(aux) {

            $("#item-" + aux).addClass("destacadocolor");
            this.children(".col-12").remove();
            $(".hijotabla").remove();


            $("#item-" + aux).append(nuevoHijoHeader());

            $("#item-" + aux).append(nuevoHijoHeader());
            $("#item-" + aux).append(nuevoHijoFooter());
            
            //$("#hijosdiv").append(nuevoHijoCabezera());
            //$("#hijosdiv").append(nuevoHijo(item));


            

        }


        function nuevoHijoHeader() {
            return '\
                    <div class="col-12 hijotabla">\
                        <div class="row">\
                            <table class="table">\
                                <thead>\
                                    <tr>\
                                        <th>Fecha Decreto</th>\
                                        <th>Beneficiario</th>\
                                        <th>Monto</th>\
                                    </tr>\
                                </thead>\
                                <tbody>\
                    ';
        }
        function nuevoHijo(item) {
            return '\
                    <tr>\
                        <td> 19/04/2016 </td>\
                        <td> Aporte para mejoramiento de infraestructura del Jardín Infantil "Pequitas". </td>\
                        <td> $358 </td>\
                    </tr>\
                    ';
        }
        function nuevoHijoFooter() {
            return '\
                            </tbody>\
                            </table>\
                        </div>\
                    </div>\
                    ';
        }
    </script>
}