
@{
    ViewBag.Title = "Sueldos";
}

<link rel="stylesheet" type="text/css" href="~/Content/css/styleSueldos.css">

<div class="row seccion-destado">
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Sueldos Promedios
                        <small>
                            del
                            <span class="select">
                                <select id="categoria">
                                    <option value="5">Municipio Total</option>
                                    <option value="1">Adm. y Serv. Municipal</option>
                                    <option value="2">Salud</option>
                                    <option value="3">Educación</option>
                                    <option value="4">Cementerio</option>
                                </select>
                            </span>
                        </small>
                        <small>
                            del año:
                            <span class="select">
                                <select id="ano">
                                    <option value="2017">2017 a Junio</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                </select>
                            </span>
                        </small>
                    </h1>
                    <p>En esta sección puedes conocer el detalle las remuneraciones promedio de las personas que trabajan en el municipio</p>
                </div>
            </div>

            <div class="row padding-Div">
                <div class="col-md-12">
                    <div id="tabla" class="row muntotal">
                        <div class="col-12 col-sm-4">
                            <div class="row">
                                <div id="padre1" onclick="cambioPadre(1)" class="padres align-self-center col-6 col-sm-12 borde-papa">
                                    <h5><i class="md-36 demo-icon icon-recurso12">&#xe800;</i> Estamento</h5>
                                </div>
                                <div id="padre2" onclick="cambioPadre(2)" class="padres align-self-center col-6 col-sm-12 no-papa">
                                    <h5><i class="md-36 demo-icon icon-recurso7">&#xe805;</i> Profesiones</h5>
                                </div>
                                <div id="padre3" onclick="cambioPadre(3)" class="padres align-self-center col-6 col-sm-12 no-papa">
                                    <h5><i class="md-36 demo-icon icon-recurso5">&#xe802;</i> Nivel Educación</h5>
                                </div>
                                <div id="padre4" onclick="cambioPadre(4)" class="padres align-self-center col-6 col-sm-12 no-papa">
                                    <h5><i class="md-36 demo-icon icon-recurso6">&#xe804;</i> Rango etario</h5>
                                </div>
                                <div id="padre5" onclick="cambioPadre(5)" class="padres align-self-center col-6 col-sm-12 no-papa">
                                    <h5><i class="md-36 demo-icon icon-recurso4">&#xe803;</i> Calidad jurídica</h5>
                                </div>
                                <div id="padre6" onclick="cambioPadre(6)" class="padres align-self-center col-6 col-sm-12 no-papa">
                                    <h5><i class="md-36 demo-icon icon-recurso3">&#xe801;</i> Antigüedad</h5>
                                </div>
                                <div id="padre7" onclick="cambioPadre(7)" class="padres align-self-center col-6 col-sm-12 no-papa">
                                    <h5><i class="md-36 demo-icon icon-recurso1">&#xe80d;</i> Grado</h5>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-sm-8">
                            <div class="row borde">
                                <div class="col-md-12 hijos">
                                    <div class="row ">
                                        <div class="col-4 align-self-center">
                                            <h6></h6>
                                        </div>
                                        <div class="col-4 align-self-center">
                                            <div class="row">
                                                <div class="col-12 text-center">Remuneración Promedio</div>
                                            </div>
                                        </div>
                                        <div class="col-4 align-self-center">
                                            <div class="row">
                                                <div class="col-12 text-center">Cantidad de Funcionarios</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="hijosdiv1">
                                </div>
                                <div id="hijosdiv2" class="hidden">
                                </div>
                                <div id="hijosdiv3" class="hidden">
                                </div>
                                <div id="hijosdiv4" class="hidden">
                                </div>
                                <div id="hijosdiv5" class="hidden">
                                </div>
                                <div id="hijosdiv6" class="hidden">
                                </div>
                                <div id="hijosdiv7" class="hidden">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
        function cambioPadre(aux) {
            for (var i = 1; i < 8; i++) {
                $("#hijosdiv" + i).addClass("hidden");
                $("#padre" + i).removeClass("borde-papa");
                $("#padre" + i).addClass("no-papa");
            }
            $("#hijosdiv" + aux).removeClass("hidden");
            $("#padre" + aux).addClass("borde-papa");
            $("#padre" + aux).removeClass("no-papa");
        }
        function consultaBd() {
            for (var i = 2; i < 8; i++) {
                $("#padre" + i).removeClass("borde-papa");
                $("#padre" + i).addClass("no-papa");
                
            }
            $("#padre1").addClass("borde-papa");
            $("#padre1").removeClass("no-papa");
            $.ajax({
                cache: false,
                async: false,
                type: 'POST',
                data: {
                    origenData: $("#categoria").val(),
                    year: $("#ano").val()
                },
                url: '@Url.Action("PersonalSalary", "FeaturedData")',
                dataType: 'json',
                success: function (data) {
                    $(".hijos").remove();
                    
                    $.each(data, function (index, item) {
                        $.each(item.Lista, function (index2, item2) {
                            $("#hijosdiv" + item.Item).append(nuevoHijo(item2));
                        });
                    });
                },
                //error: function (msg) {
                //    $('#btnagendar').attr('disabled', false);
                //}
            });
        }
        function nuevoHijo(item) {
            return '\
                    <div class="col-md-12 hijos">\
                        <div class="row">\
                            <div class="col-4 align-self-center">\
                                <h6>' + item.Nombre + '</h6>\
                            </div>\
                            <div class="col-4 align-self-center">\
                                <div class="row">\
                                    <div class="col-12"><i class="md-24 demo-icon icon-recurso12">&#xe80a;</i>' + item.CMujer + '</div>\
                                    <div class="col-12"><i class="md-24 demo-icon icon-recurso12">&#xe80a;</i>' + item.CHombre + '</div>\
                                </div>\
                            </div>\
                            <div class="col-4 align-self-center">\
                                <div class="row">\
                                    <div class="col-12">' + item.MMujer + '</div>\
                                    <div class="col-12">' + item.MHombre + '</div>\
                                </div>\
                            </div>\
                        </div>\
                    </div>\
                    ';
        }
    </script>

    <script src="~/Scripts/select.js"></script>
    <script>
        $(document).ready(function () {
            consultaBd();

            $("select").resizeselect();

            $("select").change(function () {
                consultaBd();
            });
        });
    </script>

}