GastoTransparenteMunicipal/.vs
GastoTransparenteMunicipal/GastoTransparenteMunicipal/obj
GastoTransparenteMunicipal/GastoTransparenteMunicipal/bin
GastoTransparenteMunicipal/Core/bin
GastoTransparenteMunicipal/Core/obj
*.ide-shm
*.ide-wal
*.dll
*.pdb
*.dll
*.pdb
*.config
*.cache
