GastoTransparenteMunicipal/.vs/
GastoTransparenteMunicipal/Core/bin
GastoTransparenteMunicipal/Core/obj
GastoTransparenteMunicipal/GastoTransparenteMunicipal/bin
GastoTransparenteMunicipal/GastoTransparenteMunicipal/obj
GastoTransparenteMunicipal/.vs/config/applicationhost.config
*.config
