.disable-color {
    fill: #dddddd !important;
    color: #dddddd !important;
}

.change-color {
    fill: #b3daea !important;
    color: #b3daea !important;
}

text {
    font: 20px sans-serif;
}

.tooltipTitle {
    font-size: 20px;
}

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

    #tooltip.hidden {
        display: none;
    }

    #tooltip p {
        margin: 0;
        font-family: Futura;
        font-size: 16px;
        line-height: 20px;
    }

#tooltipProveedor {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

    #tooltipProveedor.hidden {
        display: none;
    }

    #tooltipProveedor p {
        margin: 0;
        font-family: Futura;
        font-size: 16px;
        line-height: 20px;
    }