.numero1 {
    font-size: 20px;
    margin-top: 10px;
    position: relative;
}

    .numero1 .numero2 {
        width: 100%;
        vertical-align: middle;
        position: absolute;
        top: 8px;
        border-right: 2px solid #dadada;
        border-left: 2px solid #dadada;
    }

        .numero1 .numero2 hr {
            border-color: #ffffff;
        }

    .numero1 .numero3 {
        position: absolute;
        top: 0px;
        width: 100%;
        padding: 0px 10px;
    }

.flecha {
    color: white;
    font-size: 31px;
}

.seleccionadomiga {
    border-bottom: 4px solid #F1C330 !important;
}

.migapan {
    padding: 5px;
    display: inline-block;
}

.cadamiga {
    cursor: pointer;
    display: inline-block;
}

    .cadamiga:hover .contenmiga {
        background-color: #F1C330;
        color: red;
    }

        .cadamiga:hover .contenmiga span {
            color: white;
        }

    .cadamiga:hover .flecha {
        border-left: 24px solid #F1C330;
    }

    .cadamiga .contenmiga {
        background-color: rgb(245, 249, 255);
        display: inline-block;
        float: left;
        height: 44px;
        border-bottom: 4px solid transparent;
    }

    .cadamiga .flecha2 {
        color: white;
        width: 0;
        height: 0;
        border-top: 24px solid transparent;
        border-left: 24px solid white;
        display: inline-block;
        vertical-align: middle;
        border-bottom: 20px solid transparent;
    }

    .cadamiga .flecha {
        color: white;
        width: 0px;
        height: 0;
        border-top: 24px solid transparent;
        border-left: 24px solid rgb(245, 249, 255);
        display: inline-block;
        border-bottom: 20px solid transparent;
        margin: 0;
        padding: 0;
        float: left;
    }

    .cadamiga .flechContenido {
        display: inline-block;
        padding: 0px 20px;
        vertical-align: middle;
    }

        .cadamiga .flechContenido span {
            color: #34495C
        }

.node {
    position: absolute;
    display: flex;
    text-align: left;
    justify-content: space-between;
    flex-direction: column;
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
    overflow: hidden;
    cursor: pointer;
}

    .node:hover {
        overflow: hidden;
        background-color: #F1C330 !important;
    }

.seleccionc {
    border-bottom: 4px solid transparent;
    cursor: pointer;
    color: #314b6a;
    font-weight: 400;
    font-size: 22px;
}

.seleccioncambio {
    color: #F1C330;
    border-bottom: 4px solid #F1C330 !important;
}

.tooltiptremap {
    width: 300px;
    position: absolute;
    height: auto;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #95989A;
    pointer-events: none;
    top: 0;
    visibility: hidden;
}

    .tooltiptremap .caja {
    }

        .tooltiptremap .caja .titulo {
            padding: 10px;
            background-color: #f5f9ff;
            color: #193659;
        }

        .tooltiptremap .caja .descripcion {
            padding: 10px;
        }

        .tooltiptremap .caja p,
        .tooltiptremap .caja h5 {
            margin: 0;
            padding: 0;
            line-height: 1.2;
        }
