@model GastoTransparenteMunicipal.Models.SubsidioModel
@{
    ViewBag.Title = "Subsidy";
}

<h2>Subsidy</h2>

<style>
    .disable-color {
        color: #dddddd !important;
        fill: #dddddd !important;
    }

    text {
        font: 20px sans-serif;
    }

    .tooltipTitle{
        font-size:20px;
    } 
    #tooltip {
        position: absolute;
        width: 200px;
        height: auto;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
    }

        #tooltip.hidden {
            display: none;
        }

        #tooltip p {
            margin: 0;
            font-family: Futura;
            font-size: 16px;
            line-height: 20px;
        }

</style>
<div class="row">
    <div class="col-md-12" id="container">
        <div class="col-md-8" id="chart"></div>
        <div class="col-md-4" id="lateralPanel"></div>        
    </div>
</div>
<div id="tooltip" class="hidden">
    <p><span class="tooltipTitle">Clasificacion: </span><span id="clasificacion"></span></p>
    <p><span class="tooltipTitle">Monto: </span><span id="monto"></span></p>
</div>

<button onclick="deselectCircle()">aaaaaaaaaaa</button>

<script src="//d3js.org/d3.v4.js"></script>
<script src="~/Scripts/FeaturedData/SubsidyBubbleChart.js"></script>
<script type="text/javascript" charset="iso-8859-2">

    var url = "@Url.Action("SubsidyAjaxNivel1", "FeaturedData")";
    $.ajax({
        type: 'POST',
        url: url,
        dataType: 'json',
        success: function (result) {
            drawChart(result);
        }
    });

    //

</script>