@{
    ViewBag.Title = "About";
}

<div class="row seccion-destado">
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Informacion del Proyecto
                    </h1>
                    <h2>Descripción </h2>
                    <p>
                        El proyecto "Gasto Transparente Municipal (Cuentas Claras)" es una iniciativa fue impulsada por Observatorio del Gasto Fiscal, en conjunto con el Consejo para la Transparencia, que consistió en el diseño y la creación de un portal de rendición de cuentas que los municipios pueden implementar en su propio sitio web para publicar información de su gasto de forma amigable, entendible y de interés para la comunidad.<br /><br />
                        De esta manera, se busca promover una mejor rendición de cuentas del gasto municipal que atraiga a los vecinos y que les otorgue mayores capacidades de control. Por consiguiente, se incentiva no solamente la publicación de datos brutos relevantes, sino también el uso de visualizaciones que posibiliten mejores opciones para los usuarios de obtener conclusiones,comprendiendo en qué y cómo se gastan los recursos municipales.<br /><br />
                        El Proyecto se inició en Junio 2016, sumando la voluntad y el interés de 5 municipios pilotos. En Octubre del mismo año, el Laboratorio de Gobierno apoyó el proyecto entregando recursos adicionales para fortalecer la iniciativa.<br /><br />
                        En Julio de 2017, el Consejo para la Transparencia (CPLT) y el Observatorio firmaron un convenio de colaboración, para impulsar y gestionar juntos este modelo de Transparencia Presupuestaria. Por lo anterior, desde Septiembre 2017, el CPLT se suma a la iniciativa “Gasto Transparente Municipal”, con el interés de refozarla e impulsar su implementación futura en más municipios.<br /><br />
                        Actualmente, el portal es administrado por la municipalidad, con el apoyo desde un nivel más centralizado del CPLT para el seguimiento de la actualización, así como para el alojamiento de los servidores que sustentan la plataforma.

                    </p>

                    <h2>Objetivos del Proyecto</h2>
                    <p>
                        °Mejorar la rendición de cuentas públicas.<br />
                        °Facilitar la comprensión ciudadana de la información del gasto municipal<br />
                        °Aumentar la participación ciudadana en la asignación y control de recursos públicos<br />
                        °Aumentar la confianza ciudadana
                    </p>
                    <p class="text-center"><img src="~/Content/image/circulos.png" class="img-fluid" /></p>

                    <h2>Etapas desarrolladas</h2>
                    <p>
                        <b class="cementerio">Fase 1 - Desarrollo Focus Group Ciudadanos:</b> Antes de empezar el diseño del portal, se desarrollaron jornadas de focus con ciudadanos de cada una de las comunas participantes del piloto, con el objeto de levantar las principales áreas de interés y requerimientos de información de los vecinos en materia de gasto municipal (<a href="" target="_blank">ver informe de resultados del levantamiento aquí</a>)<br /><br />
                        <b class="cementerio">Fase 2 - Preparación de la información municipal:</b> Con la información levantada, se elaboró un plan de trabajo con los municipios para identificar y y extraer de los sistemas informáticos internos los datos que se requerían para dar cumplimiento a los intereses identificados, priorizando aquella información con mayor factibilidad de obtención y procesamiento.<br /><br />
                        <b class="cementerio">Fase 3: Desarrollo de evaluaciones de experiencia de usuarios:</b> Se inicia en paralelo la fase de diseño de prototipos de maqueta del Portal, los cuales en distintas etapas iterativas se fueron validando a través de una metodología de Experiencia de Usuarios (Ux), de tal manera de que el desarrollo posterior recogiera se adaptara lo más cercanamente posible al perfil y necesidades de los usuarios.<br /><br />
                        <b class="cementerio">Fase 4: Desarrollo informático, aprobación y entrega de plataforma web al municipio y CPLT:</b> Una vez aprobado el prototipo, se inicia el desarrollo informático de la plataforma, culminando el ciclo con la aprobación final de los municipios y del CPLT para su publicación y puesta en producción.
                    </p>

                    <h2>Municipios Pilotos</h2>
                    <p>
                        Mediante la firma de un convenio, los alcaldes de las comunas de Peñalolén, La Reina, Vitacura, Recoleta e Isla de Pascua acordaron ser parte del grupo de municipalidades pilotos de este proyecto.<br /><br />
                        El Portal Gasto Transparente Municipal estará disponible en formato open source, de forma gratuita, para incentivar su implementación por otras municipalidades, así como para facilitar a nivel nacional.

                    </p>
                </div>
            </div>
            <div class="row padding-Div">
                <div class="col-12" id="Grafico">
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
        $(".destacado").hover(
            function () {
                $(".destacado").css("background-color", "#f5f9ff");
                $("#destacado-barra").removeClass("hidden");
                $(".borde-menu").css("border-bottom", "1px solid");

            }, function () {
                $(".destacado").css("background-color", "#ffffff");
                $("#destacado-barra").addClass("hidden");
                $(".borde-menu").css("border-bottom", "0px");
            }
        );
    </script>
}