@model IEnumerable<Core.Municipalidad>

@{
    ViewBag.Title = "Municipios";
}

<h2>ActivarMunicipio</h2>

<table class="table table-striped" id="tableMunicipios">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Url
        </th>     
    </tr>
    @{
        var root = HttpContext.Current.Request.Url.Host;
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Nombre
                </td>
                <td>
                    <a href="@string.Format("{0}/{1}", root,item.DireccionWeb)">@string.Format("{0}/{1}", root, item.DireccionWeb)</a>
                </td>
            </tr>
        }
    }
</table>
