.padres{
	padding:0;
	cursor:pointer;
}
.padres:hover{
	background-color:#f5f9ff;
}

.hijos{
	padding-top: 20px;
	padding-bottom:20px;
}
.borde{
	border-radius: 5px;
	color:#0083b9;
	background-color:#f5f9ff;
	height: 100%;
	max-height: 540px;
	overflow-y: scroll;

}

.borde-papa {
    color: #0083b9 !important;
    background-color: #f5f9ff;
    border-radius: 5px;
}
@media (min-width: 576px) {
    .borde-papa {
        border-radius: 5px 0 0 5px;
    }

    .padres {
        padding: 1rem 1rem;
        color: #ababab;
    }
}
