body{
	font-family:Roboto;
	font-weight: 300;
}

a{
	color:#0D2B50;
}

a:hover{
	color:#f1c330;
}

h1, h2, h3,h4,h5,h6{
	font-weight: 300;
}

h1{
	font-size: 2.75rem;
	padding-top: 2rem;
}

h1 small {
    font-size: 1.75rem;
}

h2{
	padding-top: 2rem;
	font-size: 2rem;
}
h3{
	font-size: 2.25rem;
	font-weight: 100;
}

h3 span{
	font-weight: 300;
}
h3 small{
	font-size: 1.5rem;
	font-weight: 100;
}

h4{
	font-size: 2.25rem;
	font-weight: 100;
}

h5{
	font-size: 1.50rem;
	font-weight: 300;
}

h6{
	font-size: 1.25rem;
	font-weight: 100;
}

.im {
    padding-right: 0px;
    margin: 15px 0px;
}

.gr {
    color: #0D2B50;
    font-weight: 400;
    border-left: 2px solid;
    line-height: 13px;
    padding-left: 5px;
    padding-right: 0px;
    margin: 5px 0px;
}

.gr small {
    font-size:70%;
}


@media (min-width: 576px) {
    .gr {
        font-size: 1.5rem;
        line-height: 22px;
    }
}

@media (min-width: 768px) {

    .gr {
        font-size: 1rem;
    }

    .im {
        margin: 12px 0px;
    }
}

@media (min-width: 960px) {
    .gr {
        font-size: 1.3rem;
    }
}

.padding-Div{
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.padding-cero{
	padding-left:0;
	padding-right:0;
}

.active{
	color:#f1c330 !important;
	border-bottom: 5px solid #f1c330;
}
.active2{
	color:#f1c330;
	background-color:#f5f9ff;
}

.amarillo{
	color:#f1c330;
}

.azulB{
	background-color:#0D2B50;
	color:#ffffff;
}
.blanco{
	color:#ffffff;
}
.gris{
	color:#edf1f2;
}
.blanco{
	color:#ffffff;
}
.grisB{
	background-color:#edf1f2;
}

.blanco a{
	color:#ffffff;
}
.blanco a:hover{
	color:#ffffff;
	text-decoration: underline;
}

.muntotal {
    color: #0083b9 !important;
}
.admmunicipal {
    color: #008e00 !important;
}
.salud {
    color: #ea1c73 !important;
}

.educacion {
    color: #9b5cb5 !important;
}

.cementerio{
	color:#990000 !important;
}




.absolute{
	display: block;
  	position: relative;		
  	width: 100%;
}

.absolute::after{
	content:"";
	  position:absolute;
	  top:0;
	  left:0;
	  width:100%;
	  height:100%;
	  background:rgba(14,44,81,0.75);
}

.absolute img{
	min-height: 500px;
}
.relative{
    display: block;
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
}

.relative-abajo{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.small-display{
	display: none;
}
@media (min-width: 576px) {
	.relative{
		top: 45%;
	}
}

@media (min-width: 768px) {

	.relative{
		top: 30%;
	}
  	.small-display {
    	display: block;
  	}
}



.barra-superior{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
    box-shadow: 0px 1px 10px #002851;
}

.hidden{
	display:none !important;
}

.md-16,.md-24,.md-36{
	vertical-align: middle;
}

.md-16{
	font-size: 16px;
}
.md-24{
	font-size: 24px;
}
.md-36{
	font-size: 36px;
}

.md-96 {
    font-size: 96px;
}

.zoom{
	border: 1px solid transparent;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.zoom:hover{
	border: 1px solid white;
}



.menu-mobile{
	display: block;
}

.menu-mobile p{
	line-height: 1;
}
.menu-mobile .octicon{
	line-height: 0;
}

.menu-mobile li{
	list-style: none;
	padding: 0.4rem 1rem;
}



@media (min-width: 576px) {
  .menu-mobile {
    display:none;
  }
}

.menu-mobile p{
    margin-bottom: 0;
}


.triangulo-equilatero-bottom {
     width: 0;
     height: 0;
     border-right: 80px solid transparent;
     border-top: 80px solid #ffffff ;
     border-left: 80px solid transparent;
     border-bottom: 80px solid transparent;
     margin:0 auto;
}

.destacadocolor{
	background-color: #f5f9ff;
}

.seccion-destado{
	padding-top: 7rem;
}






.select {
    background: #fff url('../image/chevron-down.svg') no-repeat 95% center;
}

    .select select {
        cursor:pointer;
        font-weight: 300;
        padding: 0px 10px;
        border: none;
        border-bottom: 4px solid #f1c330;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

        .select select option {
            font-weight: 300;
            font-size: 80%;
            color: #212529;
        }