body{
	font-family:Roboto;
	font-weight: 300;
}

a{
	color:#0D2B50;
}

a:hover{
	color:#f1c330;
}

h1, h2, h3,h4,h5,h6{
	font-weight: 300;
}

h1 {
    font-size: 2.75rem;
    padding-top: 2.4rem;
    line-height: 1;
}

h1 small {
    font-size: 60%;
}

h2{
	padding-top: 1rem;
	font-size: 2rem;
}
h3{
	font-size: 2.25rem;
	font-weight: 100;
}

h3 span{
	font-weight: 300;
}
h3 small{
	font-size: 1.5rem;
	font-weight: 100;
}

h4{
	font-size: 2.25rem;
	font-weight: 100;
}

h5{
	font-size: 1.50rem;
	font-weight: 300;
}

h6{
	font-size: 1.25rem;
	font-weight: 300;
}

.padding-Div{
	padding-top: 2rem;
	padding-bottom: 3rem;
}
.padding-Div-top {
    padding-top: 2rem;
}
.padding-cero {
    padding-left: 0;
    padding-right: 0;
}
.margin-cero {
    margin: 0;
}

.amarillo{
	color:#f1c330;
}

.azulB{
	background-color:#0D2B50;
	color:#ffffff;
}
.blanco{
	color:#ffffff;
}
.gris{
	color:#edf1f2;
}
.blanco{
	color:#ffffff;
}
.grisB{
	background-color:#edf1f2;
}

.blanco a{
	color:#ffffff;
}
.blanco a:hover{
	color:#ffffff;
	text-decoration: underline;
}

.muntotal {
    color: #0083b9 !important;
    fill:  #0083b9 !important;
}
.admmunicipal {
    color: #008e00 !important;
    fill:  #008e00 !important;
}
.salud {
    color: #ea1c73 !important;
    fill:  #ea1c73 !important;
}

.educacion {
    color: #9b5cb5 !important;
    fill:  #9b5cb5 !important;
}

.cementerio {
    color: #990000 !important;
    fill:  #990000 !important;
}



.nav-item {
    border-top: 1px solid #f5f9ff;
    padding: 5px 0;
    list-style: none;
}

.menuflecha {
    margin: 0 0 0 5px;
}

@media (min-width: 768px) {
    .nav-item {
        border: 0;
        padding: 0;
    }
}


.seccion-destado {
    padding-top: 2rem;
}

@media (min-width: 576px) {
    .seccion-destado {
        padding-top: 6rem;
    }
}

@media (min-width: 768px) {
    .seccion-destado {
        padding-top: 6.5rem;
    }
}

#menu-mobile {
    background-color: #f5f9ff;
    padding: 0px 5px;
    color: #315274;
}

.active {
    color: #f1c330 !important;
    border-bottom: 5px solid #f1c330;
}

.active2 {
    color: #f1c330;
    background-color: #f5f9ff;
}

.absolute {
    display: block;
    position: relative;
    width: 100%;
}

.absolute::after{
	content:"";
	  position:absolute;
	  top:0;
	  left:0;
	  width:100%;
	  height:100%;
	  background:rgba(14,44,81,0.75);
}

.absolute img{
	min-height: 500px;
}
.relative{
    display: block;
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
}

.relative-abajo{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.small-display{
	display: none;
}
@media (min-width: 576px) {
	.relative{
		top: 45%;
	}
}

@media (min-width: 768px) {

	.relative{
		top: 30%;
	}
  	.small-display {
    	display: block;
  	}
}






.barra-superior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 40, 81, 0.25);
    padding-top:5px;
}

.hidden {
    display:none;
}

.md-16,.md-24,.md-36{
	vertical-align: middle;
}
.md-12 {
    font-size: 12px;
}

.md-16{
	font-size: 16px;
}
.md-24{
	font-size: 24px;
}
.md-36{
	font-size: 36px;
}

.md-96 {
    font-size: 96px;
}

.zoom{
	border: 1px solid transparent;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.zoom:hover{
	border: 1px solid white;
}


.destacadocolor{
	background-color: #f5f9ff;
}



.cubo {
    padding: 1.25rem;
    border-radius: 0.25rem;
    background-color: #f5f9ff;
    margin: 1rem 0;
}





.select {
    background: #fff url('../image/chevron-down.svg') no-repeat 95% center;
}

    .select select {
        cursor:pointer;
        font-weight: 300;
        padding: 0 10px;
        border: none;
        border-bottom: 4px solid #f1c330;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

        .select select option {
            font-weight: 300;
            font-size: 80%;
            color: #212529;
        }

.celda {
    padding: 10px 0;
    border-bottom: 2px solid #a0a0a0;
    cursor:pointer;
}

    .celda:hover {
        background-color: #f5f9ff;
    }

.solo{
    width:100%;
}

.circle{
    width:30px;
    height:30px;
    margin:10px 10px 0 0;
    border-radius:50%;
    display:inline-block;
    background-color:red;
    vertical-align:middle;
}

.cabezera {
    position: absolute;
    background-color: #f5f9ff;
    z-index: 2;
}


/* Clase que tendra el tooltip */
.cssToolTip {
    position: relative; /* Esta clase tiene que tener posicion relativa */
}

    /* El tooltip */
    .cssToolTip .oculto {
        background: rgb(255, 255, 255);
        border: 1px solid #b3c1de;
        border-radius: 3px;
        box-shadow: 3px 3px 5px #d0d0d0;
        color: #2f5072;
        display: none;
        font-size: 0.55em;
        padding: 10px;
        position: absolute;
        top: 15px;
        width: 200px;
        left: 19px;
        z-index: 100;
    }

    /* El tooltip cuando se muestra */
    .cssToolTip:hover .oculto {
        display: inline; /* Para mostrarlo simplemente usamos display block por ejemplo */
    }


.disable-color {
    fill: #dddddd !important;
    color: #dddddd !important;
}

.change-color {
    fill: #b3daea !important;
    color: #b3daea !important;
}


.tooltiptremap {
    width: 260px;
    position: absolute;
    height: auto;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #95989A;
    pointer-events: none;
    top: 0;
    /*visibility: hidden;*/
    opacity: 0;
    transition: opacity 0.4s linear;
}

        .tooltiptremap .caja .titulo {
            padding: 10px;
            background-color: #f5f9ff;
            color: #193659;
        }

        .tooltiptremap .caja .descripcion {
            padding: 10px;
        }

        .tooltiptremap .caja p,
        .tooltiptremap .caja h5 {
            margin: 0;
            padding: 0;
            line-height: 1.2;
        }
