
@{
    ViewBag.Title = "Gastos";
}

<div class="row">
    <div class="col padding-Div">
        <div class="container">
            <div class="row">
                <div class="col-md-12 padding-cero">
                    <h1>Gastos</h1>
                    <h3 class="text-center">Elige un punto de partida</h3>
                    <p class="text-center">Puedes seleccionar una prespectiva de inciio, ya sea por aéra o por cuenta, pero luego también puedes cruzarlas, estando en un área, y conocer sus cuentas y viceversa</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col grisB" id="IngresoGastos">
        <div class="triangulo-equilatero-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2>¿En qué se gasta?</h2>
                    <p><br>Explora el énfasis del gasto municipal entre las distintas áreas del Municipio: Educación, Salud, Adm. y Servicios Municipales y Cementerios.<br><br></p>
                    <a href="" class="btn">Área</a>
                </div>
                <div class="col-md-6 text-center">
                    <h2>¿Cómo se gasta?</h2>
                    <p><br>Revisa cómo se distribuyeron los recursos municipales entre las distintas cuentas de gasto: Personal, compras, aportes a organizaciones o la inversión.<br><br></p>
                    <a href="" class="btn">Cuentas</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col grisB padding-Div"></div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(".destacado").hover(
            function () {
                $(".destacado").css("background-color", "#f5f9ff");
                $("#destacado-barra").removeClass("hidden");
                $(".borde-menu").css("border-bottom", "1px solid");

            }, function () {
                $(".destacado").css("background-color", "#ffffff");
                $("#destacado-barra").addClass("hidden");
                $(".borde-menu").css("border-bottom", "0px");
            }
        );
    </script>
}